.container-fluid {
	/*background image courtesy of subtlepatterns.com*/
	background-image: url("images/confectionary/confectionary.png");
	font-size: #777777;
	font-family: 'Muli', sans-serif;
}

header{
	/*background-color: #ffffff;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #cccccc;*/

}

nav {
	float: right;
	display: inline;
}

h1 {
	background-color: #4aaaa5;
	color: white;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	
}

h2 {
	color: #4aaaa5;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #4aaaa5;
}

#main {
	background-color: #ffffff;
}

aside {
	background-color: #ffffff;
	border-color: #dddddd;
	float: left;
	color: #4aaaa5;
}

#portfolio {
	margin-left: 45px;
}

.poster {
	float: left;
	position: relative;
	z-index: 0;
}

h3 {
	background-color: #4aaaa5;
	color: white;
	position: absolute;
	z-index: 1;
}


/*li a:first-child {
	padding: 25px 100px;
}*/

h3 {
	color: #4aaaa5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dddddd;
}

/*li {
	border-right: solid;
	border-color: #4aaaa5;
	border-width: 1px;
}*/

footer {
	background-color: #666666;
	border-top-color: #4aaaa5;
	border-top-style: solid;
	border-top-width: 5px;
	height: 50px;
	text-align: center;
	clear: both;
}