#background {
	background-image: url("images/confectionary/confectionary.png");
	font-size: #777777;
	font-family: 'Muli', sans-serif;
}

header{
	background-color: #ffffff;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #cccccc;
}

h1 {
	background-color: #4aaaa5;
	color: white;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	padding-right: 50px;
	padding-left: 100px;
	margin-left: 100px;
}

h2 {
	color: #4aaaa5;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #4aaaa5;
	padding-top: 20px;
}

section {
	background-color: #ffffff;
	border-color: #dddddd;
	margin-left: 80px;
	float: left;
}

aside {
	float: left;
	background-color: #ffffff;
	padding: 10px 60px !important;
	margin: 25px 200px;
	position: relative;
}

li a:first-child {
	padding: 25px 100px;
}

h3 {
	color: #4aaaa5;
}

li {
	border-right: solid;
	border-color: #4aaaa5;
	border-width: 1px;
}

li:last-child{
	border-right: none;
}

footer {
	background-color: #666666;
	border-top-color: #4aaaa5;
	border-top-style: solid;
	border-top-width: 5px;
	height: 50px;
	text-align: center;
	clear: both;
}